<!doctype html>
<html>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<head>
	<title>Комменты</title>
</head>
<body>
	<table class="table table-bordered table-hover">
		<thead>
			<td>Id новости</td>
			<td>Id коммента</td>
			<td>Сообщение</td>
			<td>Имя, Фамилия автора</td>
			<td>Дата размещения</td>
			<td>Действия</td>
		</thead>
		<tbody>
		<% for (var k=0; k< comments.length; k++) { %>
			<tr>
				<form name="neen">
					<td><%- comments[k]._id_parent %></td>
					<td><%- comments[k]._id %></td>
					<td><%- comments[k].content %></td>
					<td><%- comments[k].autor_name %> <%- comments[k].autor_surname %></td>
					<td><%- comments[k].post_date %></td>
					<td><a href="/comment/<%-comments[k]._id%>/delete" class="delete" data-loading-text="Удаление...">Удалить</a></td>
				</form>
			</tr>
		</tbody>
		
		<% }%>
	</table>

	<style type="text/css">
		table {
			font-family: "Open Sans Condensed";
			font-size: 15px;
		}
		table thead {
			font-weight: 700;
		}
	</style>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$( ".delete" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().parent().css({ "background-color": "#FFA9A8"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().parent().css( styles );
		});
	});	

	$('.delete').click(function(event) {
		var URL = $(this).attr('href');
		event.preventDefault();
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
					window.location.href = '/allcomments';
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});
</script>

</html>
