<!doctype html>
<html>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<head>
	<title>События</title>
</head>
<body>
	<table class="table table-bordered table-hover">
		<thead>
			<td>Номер</td>
			<td>Заголовок</td>
			<td>Описание</td>
			<td>Дата, Адрес</td>
			<td>Цена</td>
			<td>Картинка</td>
			<td>Действие</td>
		</thead>
		<tbody>
			<% for (var k = 0; k < events.length; k++) { %>
				<tr>
					<form name="neen">
						<td><%- events[k]._id %></td>
						<td><a href="<%- events[k].event_url %>"><%- events[k].title %></a></td>
						<td><%- events[k].description %></td>
						<td><%- events[k].dates %> <%- events[k].adress %></td>
						<td><%- events[k].price %></td>
						<td><%- events[k].picture_url %></td>
						<td><a style="display:inline-block" href="/event/<%-events[k]._id%>/delete" class="delete" data-loading-text="Удаление...">Удалить</a>	</td>
					</form>
				</tr>
			<% }%>
		</tbody>
	</table>

	<style type="text/css">
		table {
			font-family: "Open Sans Condensed";
			font-size: 15px;
		}
		table thead {
			font-weight: 700;
		}
	</style>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$( ".delete" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().parent().css({ "background-color": "#FFA9A8"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().parent().css( styles );
		});
	});	

	$('.delete').click(function(event) {
		var URL = $(this).attr('href');
		event.preventDefault();
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
					window.location.href = '/allevents';
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});
</script>

</html>
