<!doctype html>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/allnews.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
	<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<head>
	<title>Новости</title>
</head>
<body>
	<table class="table table-bordered">
		<thead>
			<td>Номер</td>
			<td>Заголовок</td>
			<td>ID</td>
			<td>Тип</td>
			<td>Топ</td>
			<td>Дата</td>
			<td>Действия</td>
		</thead>
		<tbody>
			<% for (var k=0; k< news.length; k++) { %>
				<tr>
					<form name="neen">
						<td># <%-k%></td>
						<td style=" font-size: 20px;"> <%-news[k].title_in%></td>
						<td> <%-news[k]._id%></td>
						<td class="<%-news[k].type%>"> <%-news[k].type%></td>
						<td>
							<% if (news[k].top_random) {%>
								<% a = 'В топе' %>
							<% } else a = 'Не в топе' %>
							<%- a %>
						</td>
						<td> <%-strftime('%d %B, %Y года', news[k].post_date) %></td>
						<td>
							<a href="/allnews/<%-news[k]._id%>/change" class="change" data-loading-text="Изменяю...">Редактировать</a>
							<a href="/allnews/<%-news[k]._id%>/delete" class="delete" data-loading-text="Удаление...">Удалить</a>
						</td>
					</form>
				</tr>
			<% }%>
		</tbody>
	</table>
</body>

<script type="text/javascript">
	$(document).ready(function() {
		$( ".delete" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().parent().css({ "background-color": "#FFA9A8"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().parent().css( styles );
		});
		$( ".change" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().parent().css({ "background-color": "#9FFFA4"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().parent().css( styles );
		});
	});	

	$('.delete').click(function(event) {
		var URL = $(this).attr('href');
		event.preventDefault();
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
					window.location.href = '/allnews';
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});

	$('.change').click(function(event) {
		var URL = $(this).attr('href');
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});

</script>

</html>
