<!doctype html>
<html>
	<link rel="stylesheet" type="text/css" href="/stylesheets/allnews.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
<head>
	<title></title>
</head>
<body>
	<% for (var k=0; k< news.length; k++) { %>
	<form name="neen">
		<div class='info'> 
			<div class='number'>Новость # <%-k%> </div>
			<div class='title'><%-news[k].title_in%> </div>
			<div class='id'>ID : <p><%-news[k]._id%></p> </div>
			
			<div class="new_type <%-news[k].type%>">Тип новости: <p><%-news[k].type%></p> </div>
			<div class ='name'>Имя: <%-news[k].name%> </div>
			<div class ='surname'>Фамилия: <%-news[k].surname%> </div>
			<div class="text">Текст: <%-news[k].content%> </div>

			<div class="photo_wrapper"> <p>Лента</p>
				<div class="photo"><img src="<%-news[k].url_in_list%>"> </div>
				<div class="photo_text">Надпись: <%-news[k].text_in_list %> </div>
			</div>
			<div class="photo_wrapper"> <p>Верх</p>
				<div class="photo"><img src="<%-news[k].url_in_top%>"> </div>
				<div class="photo_text">Надпись: <%-news[k].text_in_top  %> </div>
			</div>
			<div class="flag">Флаг: 
			<% if (news[k].top_random) {%>
				<% a = 'Новость будет показываться в верхнем блоке' %>
			<% } else a = 'Новость не будет показываться в верхнем блоке'%>
			<p><%-a%></p> </div>
			<div class="date">Дата размещения: <p><%-news[k].post_date%></p> </div>
		</div>	
		<a href="/allnews/<%-news[k]._id%>/change" class="change" data-loading-text="Изменяю...">Редактировать</a>
		<a href="/allnews/<%-news[k]._id%>/delete" class="delete" data-loading-text="Удаление...">Удалить</a>
	</form>
		<hr>
	
	<% }%>

</body>

<script type="text/javascript">
	$(document).ready(function() {
		$( ".delete" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().css({ "background-color": "#FFA9A8"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().css( styles );
		});
		$( ".change" )
		    .on( "mouseenter", function() {
		    	$( this ).parent().css({ "background-color": "#9FFFA4"});
			})
		    .on( "mouseleave", function() {
		        var styles = {
		        backgroundColor : "#fff",
		    };
		    $( this ).parent().css( styles );
		});
	});	

	$('.delete').click(function(event) {
		var URL = $(this).attr('href');
		event.preventDefault();
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
					// form.html("Новость удалена").css('font-size','40px').css('font-family', 'Open Sans Condensed').css('font-weight', 'bold');
					window.location.href = '/allnews';
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});

	$('.change').click(function(event) {
		var URL = $(this).attr('href');
		// event.preventDefault();
		$.ajax({
			url: URL, 
			method: 'GET',
			complete: function() {
			},
			statusCode: {
				200 : function() {
					// form.html("Новость удалена").css('font-size','40px').css('font-family', 'Open Sans Condensed').css('font-weight', 'bold');
					// window.location.href = URL;
				},
				404 : function() {
					(this).text('huevo');
				},
				403 : function() {
					var error = JSON.parse(jqXHR.responseText);
					$('.error',form).html(error.message);
				}
			}
		});
	});

</script>

</html>
