<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="">
	<title>CASTMAG \</title>
	<meta property="og:title" content="Интернет-журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<meta property="og:image:secure_url" content="" />
	<meta property="og:description" content="">
	<% if (device == 'iPhone') { %>
		<meta name="viewport" content="width=device-width, user-scalable=no">
	<% } else if (device == 'Android')  {%>
	<% } %>
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<!-- <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css"> -->
	<link rel="stylesheet" href="/stylesheets/full-new.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.0.2/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/masters.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/advertise-styles.css">
	<% if (device!='PC') { %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/devices-media.css">
	<%}%>
</head>
<body>
	<!-- <div id="go-top" class="go-top"><i class="fa fa-chevron-up" style="text-align:center; padding-left:0px; position:absolute; bottom:0; left:0; color:#333; font-size:40px; height: 40px; width: 40px;"></i></div> -->
	<div class='header'><a href="/news?topic=all" style="color:#fff;"><p>CASTMAG</p></a>
		<% if (!user) { %>		
				<p style="font-size: 30px;">Вы не вошли</p>
				<div class="reg-wrapper">
					<div class="signin">Войти 
						<div class="form">

							<a href="/auth/vkontakte" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-vk"></i></div>
							<div class="input-text">через Вконтакте</div></div></a>

							<a href="/auth/facebook" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-facebook"></i></div>
							<div class="input-text">через facebook</div></div></a>

							<a href="/auth/twitter" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-twitter"></i></div>
							<div class="input-text">через twitter</div></div></a>
						</div>
					</div>
				</div>
			<% } else { %>
				<% if (user.provider == 'vkontakte' ||  user.provider == 'facebook') { %>
					<p style="font-size: 30px;">Привет, <%= user.name.givenName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } else if (user.provider == 'twitter') { %>
					<p style="font-size: 30px;">Привет, <%= user.displayName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } %>
			<% } %>	
	</div>	
	<div class='slider-all'>
			<% for (var i=0; i<newstop.length; i++) { %>
					<a href="/news/<%-newstop[i]._id%>">
						<div class="slider-element" style ="background-size:100%; background-image: url('<%-newstop[i].url_in_top%>')"><div class="wrap-p"><p> <%-newstop[i].text_in_top%> </p></div>
						</div>
					</a>
			<% } %>
	</div>
	<div class="all">
		<div class="content-full">
			<div class="news-block">
				
				<div class="master-each">
					<div class="topper">
						<h1> <a href="www.castmag.ru">Ким Малыгин </a></h1>
						<h3> Обувной мастер</h3>
					</div>
					<div class="onetwo">
						<div class="photo" style="background-image: url('http://cs425727.vk.me/v425727106/4879/kOrxoBD2OXE.jpg')"></div>
						<div class="desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna.</div>
					</div>
					<div class="onetwo">
						<div class="pic-slider">
							<div id="owl-demo" class="owl-carousel">
								<img src="http://cs310420.vk.me/v310420106/5329/MDKHw2DsKaw.jpg">
								<img src="http://cs419630.vk.me/v419630106/afcf/Jde9_D47LhQ.jpg">
								<img src="http://cs412925.vk.me/v412925106/6465/ftIDzwSelGA.jpg">
								<img src="http://cs310420.vk.me/v310420106/5329/MDKHw2DsKaw.jpg">
							</div>
						</div>
					</div>
				</div>

				
								
			</div>
			
			</div>
			<div class="sidebar">
				<ul>
					<a href="/news"><li class="m">ГЛАВНАЯ</li></a>
					<a href="/made"><li class="i">СОЗДАВАЙ</li></a>
					<li class="li-outer e" id="opener">АРТ
						<ul>
							<a href="/art-cinema"><li class="li-inner r">35 ММ</li></a>
							<a href="/art-music"><li class="li-inner t">ЗВУК</li></a>
							<a href="/art-art"><li class="li-inner zz">ПОЛОТНО</li></a>
							<a href="/fashion"><li class="li-inner u">ПОДИУМ</li></a>
						</ul>
					</li>
					<a href="/craft"><li class="p">РЕМЕСЛО</li></a>
					<a href="/howto"><li class="o">ХАУ ТУ</li></a>
					<a href="/other"><li class="a">ИНОЕ</li></a>			
				</ul>

				<!-- <div class="block">
					<a href="http://www.iwoody.ru/" target="_blank">
						<div class="inner-pic"></div>
					</a>
				</div> -->
				<!-- <p class='size'>Рекламный блок <br> 275 x 450</p> -->

				<!-- // ПЛАВАЮЩИЙ БЛОК -->
				<!-- <div class="hide-menu abs" id="float-block">
					<div class="title-best default-float-color">Популярное</div>
					<div class="news-all-best"></div>
					<div style="height:auto; width : 100%; overflow: hidden; margin-top:20px;">
						<ul>
							<a href="/news"><li class="m">ГЛАВНАЯ</li></a>
							<a href="/made"><li class="i" >СОЗДАВАЙ</li></a>
							<li class="li-outer e" id="opener1">АРТ
								<ul>
									<a data-style="art-cinema" class="dynamic" href="/art-cinema"><li style=" font-size:25px; height: 30px; line-height: 30px" class="li-inner r">35 ММ</li></a>
									<a data-style="art-music" class="dynamic" href="/art-music"><li style=" font-size:25px; height: 30px; line-height: 30px" class="li-inner t">ЗВУК</li></a>
									<a data-style="art-art" class="dynamic" href="/art-art"><li style=" font-size:25px; height: 30px; line-height: 30px" class="li-inner zz">ПОЛОТНО</li></a>
									<a data-style="fashion" class="dynamic" href="/fashion"><li style=" font-size:25px; height: 30px; line-height: 30px" class="li-inner u">ПОДИУМ</li></a>
								</ul>
							</li>
							<a data-style="craft" class="dynamic" href="/craft"><li class="p">РЕМЕСЛО</li></a>
							<a data-style="howto" class="dynamic" href="/howto"><li class="o">ХАУ ТУ</li></a>
							<a data-style="other" class="dynamic" href="/other"><li class="a">ИНОЕ</li></a>				
						</ul>
					</div>
				</div> -->
				<!-- ////////////////////////////////// -->

			</div>
		</div>
		<footer class="footer">
			<div class="third">
				<div class="text info">Контакты</div>
				<div class="paddinger"></div>
				<div class="text info">О проекте</div>
				<div class="paddinger"></div>
				<div class="text info" onclick="advertise()">Реклама</div>
			</div>
			<div class="third">
				<div class="text" onclick="fcbk()">facebook</div>
				<div class="paddinger"></div>
				<div class="text" onclick="twtr()">twitter</div>
				<div class="paddinger"></div>
				<div class="text" onclick="vk()">Вконтакте</div>
				<div class="paddinger"></div>
				<div class="text" onclick="nstgr()">instagram</div>
				<div class="paddinger"></div>
				<div class="text" onclick="youtb()">vimeo</div>
			</div>
			<div class="third">
				<div class="text long">CASTMAG.</div>		
			</div>
		</footer>
	</div>
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/javascripts/jeezus.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
	<script type="text/javascript">
		
		////////////////ЗАГРУЗКА ПОПУЛЯРНЫХ НОВОСТЕЙ//////////////////////
	    $.ajax({
			url: '/dynamic/add/right', 
			method: 'GET',
			success: function(req,res,err) {
                console.log(req);
                for (i in req) {
                	beta = parseInt(i) + 1 ;
                	$('.news-all-best').append('<a href="' + req[i]._id + '"><div class="news-all-best-each"><div class="news-all-best-each-title">' + req[i].title_in + '</div></div></a>');
                }
            }
		});
		////////////////////////////////////////////////////////

		// ДИНАМИЧЕСКАЯ ПОДГРУЗКА НУЖНЫХ БЛОКОВ ////////////
		var lastClass;
		$('.dynamic').click( function(event) {
			event.preventDefault();
			addStyle = $( this ).attr('data-style');
			name = $( this ).children('li').text();
			_url = '/dynamic/add' + $(this).attr('href') + '';
			console.log(_url);
			$.ajax({
				url: _url,
				method: 'GET',
				statusCode: {
					200: function (req,res,err) {
						console.log(req);
						$('.title-best').removeClass('default-float-color');
						$('.title-best').removeClass(lastClass);
						$('.news-all-best').html('');
						$('.title-best').html('');
						for (i in req) {
	                    	beta = parseInt(i) + 1 ;
	                    	content = $('<a href="' + req[i]._id + '"><div class="news-all-best-each"><div class="news-all-best-each-title">' + req[i].title_in + '</div></div></a>').hide();
	                    	$('.news-all-best').append(content.show('slow'));
	                	}				
						$('.title-best').text(name).addClass(addStyle);
						lastClass = addStyle;
					}
				} 
			})
		});
		///////////////////////////////////////////////

		// ПОЛОСА СЛЕВА - НАВЕРХ
		$("#go-top").on('click', function(){

      		$('html, body').animate({
       			scrollTop: 0
   			}, 50);
       	}); 
		//////////////////////////////////////

		if ((navigator.userAgent.match(/iPhone/i)) 
		  	||  (navigator.userAgent.match(/iPod/i)) 
			||  (navigator.userAgent.match(/Android/i))) 
			{
				$('img').each(function() {
					var height = Math.floor($(this).attr('height') * 1.18787) + 1;
					var width = Math.floor($(this).attr('width') * 1.18787) + 1;
					$(this).attr('width', width).attr('height', height).css('margin', '0px 0px');
				})
				$('iframe').each(function() {
					var height = Math.floor($(this).attr('height') * 1.18787) + 1;
					var width = Math.floor($(this).attr('width') * 1.18787) + 1;
					$(this).parent().css('width', width).css('margin', '0px 0px');
					$(this).attr('width', width).attr('height', height).css('margin', '0px 0px');
				})
			}
	</script>
	
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46010192-1', 'castmag.ru');
		ga('send', 'pageview');
	</script>

	<script>
		// IWOODY START
		var adver = Math.floor(Math.random() * 3) + 1;
		if (adver == 1 ) {
			urled = 'http://cs417729.vk.me/v417729280/bddb/mC9ktvnAKCg.jpg';
		} else if ( adver == 2 ) {
			urled = 'http://cs417729.vk.me/v417729280/bde2/BUMhQKE844I.jpg';
		} else if ( adver == 3 ) {
			urled = 'http://cs417729.vk.me/v417729280/bde9/_w-gt7oF4HE.jpg';
		}
		$('.inner-pic').css('background-image' , 'url(' + urled + ')');
		console.log(adver,'adver');
		console.log('advertise generated');
		// iWOODY END

		    // $(document).scroll(function() {
		    //     var scrollPosition = $(document).scrollTop();
		    //     var scrollReference = 1050;
		    //     if (scrollPosition >= scrollReference) {      
		    //         $("#float-block").addClass('fixed');   
		    //     } else {
		    //         $("#float-block").removeClass('fixed');
		    //         $("#float-block").addClass('abs');
		    //     };
		    // });
		    // $('#float-block').height($(document).height());

	</script>
	<link href="stylesheets/owl.carousel.css" rel="stylesheet">
    <script src="javascripts/owl.carousel.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	        $(".owl-carousel").owlCarousel({
	            items : 1,
	            autoHeight : false,
	            pagination : false,
	            lazyLoad : true,
	            // autoPlay : 3000,
	            stopOnHover : true,
	            itemsDesktop : [1199,1],
			    itemsDesktopSmall : [980,1],
			    itemsTablet: [768,1],
			    itemsMobile : [479,1]
	        });
	    });
    </script>
</body>
</html>