<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="<%-onenew.title_in%>">
	<title>CASTMAG \ <%-onenew.title_in%></title>
	<meta property="og:title" content="Интернет-журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<!-- <meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" /> -->
	<meta property="og:image:secure_url" content="<%onenew.url_in_top%>" />
	<meta property="og:description" content="<%-onenew.title_in%>">
	<% if (device == 'iPhone') { %>
		<meta name="viewport" content="width=device-width, user-scalable=no">
	<% } else if (device == 'Android')  {%>
	<% } %>
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/2.0.1/normalize.css">
	<link rel="stylesheet" href="/stylesheets/full-new.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">
	<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script src="/javascripts/jeezus.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.0.2/css/font-awesome.min.css">
	<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Yeseva+One&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
	<div class='header'><a href="/news" style="color:#fff;"><p>CASTMAG</p></a>
		<% if (!user) { %>		
				<p style="font-size: 30px;">Вы не вошли</p>
				<div class="reg-wrapper">
					<div class="signin">Войти 
						<div class="form">

							<a href="/auth/vkontakte" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-vk"></i></div>
							<div class="input-text">через Вконтакте</div></div></a>

							<a href="/auth/facebook" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-facebook"></i></div>
							<div class="input-text">через facebook</div></div></a>

							<a href="/auth/twitter" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-twitter"></i></div>
							<div class="input-text">через twitter</div></div></a>
						</div>
					</div>
				</div>
			<% } else { %>
				<% if (user.provider == 'vkontakte' ||  user.provider == 'facebook') { %>
					<p style="font-size: 30px;">Привет, <%= user.name.givenName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } else if (user.provider == 'twitter') { %>
					<p style="font-size: 30px;">Привет, <%= user.displayName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } %>
			<% } %>	
	</div>	
	<div class='slider-all'>
			<% for (var i=0; i<news.length; i++) { %>
					<a href="/news/<%-news[i]._id%>">
						<div class="slider-element" style ="background-size:100%; background-image: url('<%-news[i].url_in_top%>')"><div class="wrap-p"><p> <%-news[i].text_in_top%> </p></div>
						</div>
					</a>
			<% } %>
	</div>
	<div class="all">
		<div class="content-full">
			<div class="news-block">
				<div class="new">
					<div class="<%-onenew.type%>" style="width: 100%; min-height: 50px; overflow: hidden;">
						<h1 class="header-new"><%-onenew.title_in%></h1>
					</div>
					<%-onenew.content%>
					<hr style="-webkit-margin-after: 0;">
					<p style="display: inline-block; font-weight:bold; font-size: 16px; height: 25px; line-height:25px; margin: 0px 10px;" class="new-autor">Автор: <%-onenew.name%> <%-onenew.surname%></p>
					<p style="display: inline-block; font-weight:bold; font-size: 16px; height: 25px; line-height:25px; margin: 0px 10px;" class="new-date">Новость добавлена: <%-strftime('%d %B, %Y года', onenew.post_date) %></p>				
				</div>

				<script type="text/javascript">(function() {
				    if (window.pluso)if (typeof window.pluso.start == "function") return;
				    if (window.ifpluso==undefined) { window.ifpluso = 1;
				        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
				        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
				        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
				        var h=d[g]('body')[0];
				        h.appendChild(s);
					}})();
				</script>
				<div class="pluso" data-background="#ebebeb" data-options="big,square,line,horizontal,counter,theme=06" data-services="vkontakte,facebook,twitter,google,odnoklassniki" data-user="794962481"></div>

				<% if (!user) { %>
				<% } else if (user.id == 1584815370 || user.id == 1160344910) { %>
					<div style="width:100%; height: 50px; background-color: transparent; border: 0px; overflow: hidden; text-align: center">
						<hr>
						<a href="/allnews/<%-onenew._id%>/change" class="change" data-loading-text="Изменяю...">Редактировать</a>
					</div>
				<% } %>
			</div>
			<div class="comment_wrapper">
				<% if (!user) { %>
					<div style="width: 100%; height: 80px; text-align:center; line-height: 80px"><a class="nouser" style="overflow:hidden; font-size: 30px; text-decoration: none; border-bottom: 1px dashed #000; box-sizing:border-box" href="#">Зарегистрируйтесь для добавления комментариев</a></div>
				<% } else {%>
					<form name="add_comm" class='add_form'>
						<% if (!user) { %>
							<div class="comment_photo_add" name="comment_photo_add"></div>
						<% } else if (user.provider == 'facebook') { %>
							<div class="comment_photo_add" style="background-image: url('https://graph.facebook.com/<%= user.username %>/picture'); background-size: 100%;" name="comment_photo_add"></div>
						<% } else if (user.provider == 'vkontakte') { %>
							<div class="comment_photo_add" style="background-image: url('<%= user._json.photo %>'); background-size: 100%;" name="comment_photo_add"></div>
						<% } else if (user.provider == 'twitter') { %>
							<div class="comment_photo_add" style="background-image: url('<%= user._json.profile_image_url %>'); background-size: 100%;" name="comment_photo_add"></div>
						<% } %>
						<textarea class="comment_text_add" name="comment_text_add"></textarea>
						<button class="comment_press" name="comment">Коммент</button>
					</form name="add_comm">
				<% } %>
				<div class="comments_all">
					<%for ( var q = 0; q < comments.length; q++) { %>
						<div class="comment_each">
							<form class="comment_">
								<div class="comment_photo" style="background-image: url('<%= comments[q].user_photo %>'); background-size: 100%;"></div>								
								<% if (comments[q].autor_surname == undefined) { %>
									<div class='name'><%-comments[q].autor_name%></div>
								<% } else { %>
									<div class='name'><%-comments[q].autor_name%></div>
									<div class="surname"><%-comments[q].autor_surname%></div> 
								<% } %>
								написал в <div class="date"><%-strftime('%H:%M:%S, %d %B %Y года ', comments[q].post_date) %></div> 
								<div class="comment_text sizable each"><%-comments[q].content%></div>
								<% if (!user) { %>
								<% } else if (user.id == 1584815370 || user.id == 1160344910) { %>
									<a href="/comment/<%-comments[q]._id%>/delete" class="delete" data-loading-text="Удаление...">Удалить</a>
								<% } %>
							</form>
						</div>
					<% } %>
				</div>
			</div>
			</div>
			<div class="sidebar">
				<ul>
					<li class="m"><a href="/news">ГЛАВНАЯ</a></li>
					<!-- <li class="q"><a href="/news">МИР</a></li> -->
					<li class="i" ><a href="/made">СОЗДАВАЙ</a></li>
					<li class="li-outer e" id="opener">АРТ
						<ul>
							<a href="/art-cinema"><li class="li-inner r">КИНО</li></a>
							<a href="/art-music"><li class="li-inner t">МУЗЫКА</li></a>
							<a href="/fashion"><li class="li-inner u">МОДА</li></a>
						</ul>
					</li>
					<li class="p" ><a href="/craft">РЕМЕСЛО</a></li>
					<li class="o" ><a href="/howto">ХАУ ТУ</a></li>
					<li class="a" ><a href="/other">ИНОЕ</a></li>				
				</ul>
			</div>
		</div>
		<footer class="footer">
			<div class="third">
				<div class="text info">Контакты</div>
				<div class="paddinger"></div>
				<div class="text info">О проекте</div>
				<div class="paddinger"></div>
				<div class="text info" onclick="advertise()">Реклама</div>
			</div>
			<div class="third">
				<div class="text" onclick="fcbk()">facebook</div>
				<div class="paddinger"></div>
				<div class="text" onclick="twtr()">twitter</div>
				<div class="paddinger"></div>
				<div class="text" onclick="vk()">Вконтакте</div>
				<div class="paddinger"></div>
				<div class="text" onclick="nstgr()">instagram</div>
				<div class="paddinger"></div>
				<div class="text" onclick="youtb()">vimeo</div>
			</div>
			<div class="third">
				<div class="text long">CASTMAG.</div>		
			</div>
		</footer>
	</div>
	<script type="text/javascript">
		//ДОБАВЛЕНИЕ КОММЕНТАРИЯ
		$(document.forms['add_comm']).on('submit', function () {
			var form = $(this);
			console.log("ajax");
			$.ajax({
				url: '/added/<%-onenew._id%>', 
				method: 'POST',
				data: form.serialize(),
				complete: function() {
				},
				statusCode: {
					200 : function (res) {
						form.find('.comment_text_add').val('');
						var new_comment = $('<div class="comment_each"><form class="comment_"><div class="comment_photo" style="background-image: url(' + res.user_photo + '); background-size: 100%;"></div> <div class="comment_text sizable each">' + res.content + '</div></form></div>').hide();
						$('.comments_all').prepend(new_comment.show('slow'));
						console.log(res);
					},
					201 : function() {
						$(':submit', form).html('Не все поля заполнены').css('width','300px').css('background-color','#FF352B').css('border-radius','5px').css('outline','none').css('border','2px solid #000');
					},
					403 : function() {
						var error = JSON.parse(jqXHR.responseText);
						$('.error',form).html(error.message);
					}
				}
			});
			return false;
		});
		////////////////////////////////////////

		// ИЗМЕНЕНИЕ НОВОСТИ АДМИНКА 
		$('.change').click(function(event) {
			var URL = $(this).attr('href');
			// event.preventDefault();
			$.ajax({
				url: URL, 
				method: 'GET',
				complete: function() {
				},
				statusCode: {
					200 : function() {
						window.location.href ="/";
					},
					404 : function() {
						(this).text('huevo');
					},
					403 : function() {
						var error = JSON.parse(jqXHR.responseText);
						$('.error',form).html(error.message);
					}
				}
			});
		});
		///////////////////////////////////////

		//УДАЛЕНИЕ КОММЕНТАРИЯ 
		$('.delete').click(function(event) {
			var URL = $(this).attr('href');
			event.preventDefault();
			$.ajax({
				url: URL, 
				method: 'GET',
				complete: function() {
				},
				statusCode: {
					200 : function() {
						$(this).parent().parent().html("Коммент удален").css('font-size','20px').css('font-family', 'Open Sans Condensed').css('font-weight', 'bold').hide('slow');
						window.location.reload();
					},
					404 : function() {
						(this).text('huevo');
					},
					403 : function() {
						var error = JSON.parse(jqXHR.responseText);
						$('.error',form).html(error.message);
					}
				}
			});
		});
		//////////////////////////////////////

		if ((navigator.userAgent.match(/iPhone/i)) 
		  	||  (navigator.userAgent.match(/iPod/i)) 
			||  (navigator.userAgent.match(/Android/i))) 
			{
				$('img').each(function() {
					var height = Math.floor($(this).attr('height') * 1.18787) + 1;
					var width = Math.floor($(this).attr('width') * 1.18787) + 1;
					$(this).attr('width', width).attr('height', height).css('margin', '0px 0px');
				})
				$('iframe').each(function() {
					var height = Math.floor($(this).attr('height') * 1.18787) + 1;
					var width = Math.floor($(this).attr('width') * 1.18787) + 1;
					$(this).parent().css('width', width).css('margin', '0px 0px');
					$(this).attr('width', width).attr('height', height).css('margin', '0px 0px');
				})
			}
	</script>
	<% if (device!='PC') { %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/devices-media.css">
	<%}%>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46010192-1', 'castmag.ru');
		ga('send', 'pageview');
	</script>
</body>
</html>