<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ Главная</title>
	<meta property="og:title" content="Интернет журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />

	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">

	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	
	<link rel="stylesheet" type="text/css" href="stylesheets/castmag-index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.0.2/css/font-awesome.min.css">

	<link href='http://fonts.googleapis.com/css?family=PT+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>
	<script type="text/javascript" src="http://masonry.desandro.com/masonry.pkgd.min.js"></script>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<script src="/javascripts/jeezus.js"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

</head>
<body>
	
	<div class='header'><a href="/news" style="color:#fff;"><p>CASTMAG</p></a>

			<% if (!user) { %>
				
				<p style="font-size: 30px;">Вы не авторизованы </p>
				<div class="reg-wrapper">
					<div class="signin">Войти 
						<div class="form">

							<a href="/auth/vkontakte" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-vk"></i></div>
							<div class="input-text">через Вконтакте</div></div></a>

							<a href="/auth/facebook" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-facebook"></i></div>
							<div class="input-text">через facebook</div></div></a>

							<a href="/auth/twitter" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-twitter"></i></div>
							<div class="input-text">через twitter</div></div></a>

						</div>
					</div>
				</div>

			<% } else { %>

				<% if (user.provider == 'vkontakte' ||  user.provider == 'facebook') { %>

					<p style="font-size: 30px;">Привет, <%= user.name.givenName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>

				<% } else if (user.provider == 'twitter') { %>

					<p style="font-size: 30px;">Привет, <%= user.displayName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>

				<% } %>

			<% } %>	
		
	</div>

	<div class='slider-all'>
			<% for (var i=0; i<newstop.length; i++) { %>
					<a href="/news/<%-newstop[i]._id%>">
						<div class="slider-element" style ="background-size:100%; background-image: url('<%-newstop[i].url_in_top%>')"><p> <%-newstop[i].text_in_top%></p>
						</div>
					</a>
			<% } %>
	</div>
	

	<div class="all">
		<div class="content">

			<% for (var i=0; i<news.length; i++) { %>

				<a href="/news/<%-news[i]._id%>">
					<div class="new-min">
						<div class="new-min-content">
							<% if (news[i].type == "other" || news[i].type == "fashion" || news[i].type == "features"  || news[i].type == "art-music") { %> 
								<p class="new-min-content-header <%-news[i].type%>" style="color:#fff; text-shadow: 0 1px 0 rgba(0,0,0,.5);"><%-news[i].title_in %></p>
							<% } else { %>
								<p class="new-min-content-header <%-news[i].type%>" ><%-news[i].title_in %></p>
							<% } %>				
							<div class="img-wrapper">
								<img src="<%-news[i].url_in_list%>" style="width:100%;">
								<div class="inliner">
									<p><%-news[i].text_in_list%></p>
								</div>
								<p class="views">Заинтересовавшихся: <%-news[i].quantity%></p>
							</div>
						</div>
					</div>
				</a>
				
			<% } %>

		</div>	

		<div class="sidebar">
			<ul>
				<% if (mark) { %>
				<li class="m"><a href="/">ГЛАВНАЯ</a></li>
				<%} %>
				<li class="q"><a href="/news">МИР</a></li>
				<li class="li-outer e" id="opener">АРТ
					<ul>
						<a href="/art-cinema"><li class="li-inner r">КИНО</li></a>
						<a href="/art-music"><li class="li-inner t">МУЗЫКА</li></a>
						<a href="/fashion"><li class="li-inner u">МОДА</li></a>
					</ul>
				</li>
				<li class="p" ><a href="/craft">РЕМЕСЛО</a></li>
				<li class="o" ><a href="/howto">ХАУ ТУ</a></li>
				<li class="i" ><a href="/features">ФИЧЕРСЫ</a></li>
				<li class="a" ><a href="/other">ИНОЕ</a></li>

			</ul>

		</div>
	</div>

	<footer class="footer">
		<div class="third">
			<div class="text info">Контакты</div>
			<div class="paddinger"></div>
			<div class="text info">О проекте</div>
			<div class="paddinger"></div>
			<div class="text info">Реклама</div>
		</div>

		<div class="third">
			<div class="text" onclick="fcbk()">facebook</div>
			<div class="paddinger"></div>
			<div class="text" onclick="twtr()">twitter</div>
			<div class="paddinger"></div>
			<div class="text" onclick="vk()">Вконтакте</div>
			<div class="paddinger"></div>
			<div class="text" onclick="nstgr()">instagram</div>
			<div class="paddinger"></div>
			<div class="text" onclick="youtb()">youtube</div>
		</div>

		<div class="third">
			<div class="text long">CASTMAG.</div>
			
		</div>
	</footer>

	<style type="text/css">
		@media screen and (device-aspect-ratio: 2/3) {
			.header {
				width: 980px;
			}
			.header p:nth-child(2) {
				font-size: 20px !important;
				text-align: center;
				width: 140px;
			}
			.slider-all {
				width: 980px;
				height: 290px;
			}
			.slider-all a:nth-of-type(4), .slider-all a:nth-of-type(3) {
				display: none !important;
				visibility: hidden;
			} 
			.slider-element {
				width: 50%;
				overflow: hidden;
			}
			.slider-element p {
				padding-top: 130px;
				top: -420px;
			}
			.all {
				width: 980px;
			}
			.content {
				width: 100%;
			}
			.sidebar {
				display: none;
			}
			.footer {
				width: 980px;
			}
			.signin:focus .form {
				top: 75px;
				display: block;
				opacity: 1;
				z-index: 100;
			}
			.new-min {
				width: 486px;
			}
			.new-min-content-header {
				font-size: 25px;
			}
			.inliner {
				left: -485px;
			}
			.inliner p{
				height: 24%;
				font-size: 22px;
			}
			.views {
				height: 30px;
				font-size: 22px;
			}
		}
		@media screen and (device-aspect-ratio: 40/71) {
			.header {
				width: 980px;
			}
			.header p:nth-child(2) {
				font-size: 20px !important;
				text-align: center;
				width: 140px;
			}
			.slider-all {
				width: 980px;
				height: 290px;
			}
			.slider-all a:nth-of-type(4), .slider-all a:nth-of-type(3) {
				display: none !important;
				visibility: hidden;
			} 
			.slider-element {
				width: 50%;
				overflow: hidden;
			}
			.slider-element p {
				padding-top: 130px;
				top: -420px;
			}
			.all {
				width: 980px;
			}
			.content {
				width: 100%;
			}
			.sidebar {
				display: none;
			}
			.footer {
				width: 980px;
			}
			.signin:focus .form {
				top: 75px;
				display: block;
				opacity: 1;
				z-index: 100;
			}
			.new-min {
				width: 486px;
			}
			.new-min-content-header {
				font-size: 25px;
			}
			.inliner {
				left: -485px;
			}
			.inliner p{
				height: 24%;
				font-size: 22px;
			}
			.views {
				height: 30px;
				font-size: 22px;
			}
		}
		@media screen and (device-aspect-ratio: 3/4) {
			.header {
				width: 980px;
			}
			.header p:nth-child(2) {
				font-size: 20px !important;
				text-align: center;
				width: 140px;
			}
			.slider-all {
				width: 980px;
				height: 290px;
			}
			.slider-all a:nth-of-type(4), .slider-all a:nth-of-type(3) {
				display: none !important;
				visibility: hidden;
			} 
			.slider-element {
				width: 50%;
				overflow: hidden;
			}
			.slider-element p {
				padding-top: 130px;
				top: -420px;
			}
			.all {
				width: 980px;
			}
			.content {
				width: 100%;
			}
			.sidebar {
				display: none;
			}
			.footer {
				width: 980px;
			}
			.signin:focus .form {
				top: 75px;
				display: block;
				opacity: 1;
				z-index: 100;
			}
			.new-min {
				width: 486px;
			}
			.new-min-content-header {
				font-size: 25px;
			}
			.inliner {
				left: -485px;
			}
			.inliner p{
				height: 24%;
				font-size: 22px;
			}
			.views {
				height: 30px;
				font-size: 22px;
			}
		}
	</style>

</body>
</html>