<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ Главная</title>
	<meta property="og:title" content="Интернет-журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<% if (device == 'iPhone') { %>
		<meta name="viewport" content="width=device-width, user-scalable=no">
	<% } else if (device == 'Android')  {%>
	<% } %>
	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">

	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	
	<link rel="stylesheet" type="text/css" href="/stylesheets/castmag-index.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.0.2/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One&subset=cyrillic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/advertise-styles.css">

</head>
<body>
	<div class='header'><a href="/news" style="color:#fff;"><p>CASTMAG</p></a>
			<% if (!user) { %>
				<p class='auth' style="font-size: 30px;">Вы не авторизованы </p>
				<div class="reg-wrapper">
					<div class="signin">Войти 
						<div class="form">
							<a href="/auth/vkontakte" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-vk"></i></div>
							<div class="input-text">через Вконтакте</div></div></a>
							<a href="/auth/facebook" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-facebook"></i></div>
							<div class="input-text">через facebook</div></div></a>
							<a href="/auth/twitter" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-twitter"></i></div>
							<div class="input-text">через twitter</div></div></a>
						</div>
					</div>
				</div>
			<% } else { %>
				<% if (user.provider == 'vkontakte' ||  user.provider == 'facebook') { %>
					<p style="font-size: 30px;">Привет, <%= user.name.givenName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } else if (user.provider == 'twitter') { %>
					<p style="font-size: 30px;">Привет, <%= user.displayName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } %>
			<% } %>	
	</div>
	<div class='slider-all'>
			<% for (var i=0; i<newstop.length; i++) { %>
					<a href="/news/<%-newstop[i]._id%>">
						<div class="slider-element" style ="background-size:100%; background-image: url('<%-newstop[i].url_in_top%>')"><div class="wrap-p"> <p><%-newstop[i].text_in_top%></p></div>
						</div>
					</a>
			<% } %>
	</div>

	<!-- /// SLIDER MENU -->

	<div class="menu-starter"> <p>Список топиков</p>
	</div>
		<div class="sidebar-top">
			<ul>
				<% if (mark) { %>
				<li class="m"><a href="/news">ГЛАВНАЯ</a></li>
				<%} %>
				<!-- <li class="q"><a href="/news">МИР</a></li> -->
				<li class="i"><a href="/made">СОЗДАВАЙ</a></li>
				<li class="r"><a href="/art-cinema">КИНО</a></li>
				<li class="t"><a href="/art-music">МУЗЫКА</a></li>
				<li class="u"><a href="/fashion">МОДА</a></li>
				<li class="p"><a href="/craft">РЕМЕСЛО</a></li>
				<li class="o"><a href="/howto">ХАУ ТУ</a></li>
				<li class="a"><a href="/other">ИНОЕ</a></li>
			</ul>
		</div>

	<!-- /// SLIDER MENU ENDS -->



	<div class="all">

		<div class="content_and_events">

			<div class="events-all">

				<div id="owl-demo" class="owl-carousel">
					<% for (var j = 0; j < events.length; j++) { %>
	                	<div class="each-event">
							<div class="event-left-info">
								<div class="event-left-text-wrapper">
									<div class="event-title"><a href="<%-events[j].event_url%>"><%-events[j].title%></a></div>
									<div class="event-dates"><%-events[j].dates%></div>
									<div class="event-adress"><%-events[j].adress%></div>
									<div class="event-price"><%-events[j].price%></div>
								</div>
							</div>
							<div class="event-photo">
								<div class="event-photo-wrapper" style="background-image: url('<%-events[j].picture_url%>')"></div>
							</div>
							<div class="event-right-info">
								<div class="event-right-text-wrapper">
									<div class="event-description"><%-events[j].description%></div>			
								</div>
							</div>
						</div>
					<% } %>

					
                </div>
				
			</div>

			<div class="content">
				<% for (var i = 0; i < news.length; i++) { %>
					<a href="/news/<%-news[i]._id%>">
						<div class="new-min">
							<div class="new-min-content">
								<% if (news[i].type == "other" || news[i].type == "fashion" || news[i].type == "features"  || news[i].type == "craft") { %> 
									<p class="new-min-content-header <%-news[i].type%>" style="color:#fff; text-shadow: 0 1px 0 rgba(0,0,0,.5);"><%-news[i].title_in %></p>
								<% } else { %>
									<p class="new-min-content-header <%-news[i].type%>" ><%-news[i].title_in %></p>
								<% } %>				
								<div class="img-wrapper">
									<img src="<%-news[i].url_in_list%>" style="width:100%;">
									<div class="inliner">
										<p><%-news[i].text_in_list%></p>
									</div>
									<p class="views">Заинтересовавшихся: <%-news[i].quantity%></p>
								</div>
							</div>
						</div>
					</a>
				<% } %>
			</div>	
		</div>

		<div class="sidebar">
			<ul>
				<% if (mark) { %>
				<li class="m"><a href="/news">ГЛАВНАЯ</a></li>
				<%} %>
				<!-- <li class="q"><a href="/news">МИР</a></li> -->
				<li class="i" ><a href="/made">СОЗДАВАЙ</a></li>
				<li class="li-outer e" id="opener">АРТ
					<ul>
						<a href="/art-cinema"><li class="li-inner r">КИНО</li></a>
						<a href="/art-music"><li class="li-inner t">МУЗЫКА</li></a>
						<a href="/fashion"><li class="li-inner u">МОДА</li></a>
					</ul>
				</li>
				<li class="p" ><a href="/craft">РЕМЕСЛО</a></li>
				<li class="o" ><a href="/howto">ХАУ ТУ</a></li>
				<li class="a" ><a href="/other">ИНОЕ</a></li>
				<% if (!user) { %>
				<% } else if (user.id == 1584815370 || user.id == 1160344910) { %>
					<li class="admin" style="font-size:20px;"><a href="/admin">ДОБАВИТЬ НОВОСТЬ</a></li>
					<li class="admin" style="font-size:20px;"><a href="/admin_events">ДОБАВИТЬ СОБЫТИЕ</a></li>

					<li class="admin" style="font-size:20px;"><a href="/info">ИНФОРМАЦИЯ</a></li>
				<% } %>
			</ul>
			<div class="block">
				<a href="http://www.iwoody.ru/" target="_blank">
					<div class="inner-pic"></div>
				</a>
			</div>

			<!-- <p class='size'>Рекламный блок <br> 275 x 450</p> -->
			<!-- <div class="block"><div class="inner-pic"><div class="circle"><p class="size">Разработка<br> сайтов</p></div><p class="bottomer">8-915-222-27-22</p></div></div> -->


		</div>
		<div class="new-news-loader">НАШИ РОБОТЫ УСЕРДНО ТРУДЯТСЯ НАД НОВЫМ МАТЕРИАЛОМ</div>
	</div>
	
	<footer class="footer">
		<div class="third">
			<div class="text info">Контакты</div>
			<div class="paddinger"></div>
			<div class="text info" onclick="about_project()">О проекте</div>
			<div class="paddinger"></div>
			<div class="text info" onclick="advertise()">Реклама</div>
		</div>
		<div class="third">
			<div class="text" onclick="fcbk()">facebook</div>
			<div class="paddinger"></div>
			<div class="text" onclick="twtr()">twitter</div>
			<div class="paddinger"></div>
			<div class="text" onclick="vk()">Вконтакте</div>
			<div class="paddinger"></div>
			<div class="text" onclick="nstgr()">instagram</div>
			<div class="paddinger"></div>
			<div class="text" onclick="youtb()">vimeo</div>
		</div>
		<div class="third">
			<div class="text long">CASTMAG.</div>
		</div>
	</footer>
	<% if (device!='PC') { %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/devices-media.css">
	<%}%>
	<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.0.4/jquery.imagesloaded.min.js"></script>

	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/masonry/3.1.1/masonry.pkgd.js"></script>
	<script src="/javascripts/jeezus.js"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46010192-1', 'castmag.ru');
		ga('send', 'pageview');
	</script>

	<script>
		// IWOODY START
		var adver = Math.floor(Math.random() * 3) + 1;
		if (adver == 1 ) {
			urled = 'http://cs417729.vk.me/v417729280/bddb/mC9ktvnAKCg.jpg';
		} else if ( adver == 2 ) {
			urled = 'http://cs417729.vk.me/v417729280/bde2/BUMhQKE844I.jpg';
		} else if ( adver == 3 ) {
			urled = 'http://cs417729.vk.me/v417729280/bde9/_w-gt7oF4HE.jpg';
		}
		$('.inner-pic').css('background-image' , 'url(' + urled + ')');
		console.log(adver,'adver');
		console.log('advertise generated');
		// iWOODY END
	</script>

	<link href="stylesheets/owl.carousel.css" rel="stylesheet">
    <script src="javascripts/owl.carousel.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
	        $("#owl-demo").owlCarousel({
	            items : 1,
	            autoHeight : false,
	            pagination : false,
	            lazyLoad : true,
	            autoPlay : 3000,
	            stopOnHover : true,
	            itemsDesktop : [1199,1],
			    itemsDesktopSmall : [980,1],
			    itemsTablet: [768,1],
			    itemsMobile : [479,1]
	        });
	    });
    </script>
	

</body>
</html>