<!doctype html>
<html lang="en">
<head prefix="og: http://ogp.me/ns#">
	<meta charset="UTF-8">
	<meta name="description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<title>CASTMAG \ Главная</title>
	<meta property="og:title" content="Интернет-журнал CASTMAG" />
	<meta property="og:type" content="website" />
	<meta property="og:url" content="http://castmag.ru" />
	<% if (device == 'iPhone') { %>
		<meta name="viewport" content="width=device-width, user-scalable=no">
	<% } else if (device == 'Android')  {%>
	<% } %>
	<meta property="og:image" content="http://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:image:secure_url" content="https://s3-us-west-2.amazonaws.com/castmag-msk/castmaglogo.jpg" />
	<meta property="og:description" content="Если вам интересно сегодняшнее искусство, ремесло, и вы бы хотели черпать вдохновение, вдохновлять - присоединяйтесь к нам! Мы не только рассказываем, но и показываем!">
	<meta name="robots" content="all">
	<meta name="keywords" content="Handmade, Своими руками, Ремесло, Хэнд мейд, Музыка, Кино, Мода, Как сделать, Как создать, Производство, Бизнес, Творчество, Автор, Создатель, Творец, Features, Рассказы, Статьи, Новости">
	<link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome-4.0.2/css/font-awesome.min.css">
	<link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:700,300&subset=latin,cyrillic-ext' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="/stylesheets/reg.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/footer.css">
	<link rel="stylesheet" type="text/css" href="/stylesheets/menu.css">	
	<link rel="stylesheet" type="text/css" href="/stylesheets/made.css">
	<!-- <link rel="stylesheet" type="text/css" href="/stylesheets/header.css">	 -->
</head>
<body ng-app="app" ng-controller="Ctrl">
	<div class='header'><a href="/news?topic=all" style="color:#fff;"><p>CASTMAG</p></a>
			<% if (!user) { %>
				<p class='auth' style="font-size: 30px;">Вы не авторизованы </p>
				<div class="reg-wrapper">
					<div class="signin">Войти 
						<div class="form">
							<a href="/auth/vkontakte" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-vk"></i></div>
							<div class="input-text">через Вконтакте</div></div></a>
							<a href="/auth/facebook" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-facebook"></i></div>
							<div class="input-text">через facebook</div></div></a>
							<a href="/auth/twitter" style="color:#fff;"><div class="enterer" action="registration_proceed"><div class="wrapperic"><i class="fa fa-twitter"></i></div>
							<div class="input-text">через twitter</div></div></a>
						</div>
					</div>
				</div>
			<% } else { %>
				<% if (user.provider == 'vkontakte' ||  user.provider == 'facebook') { %>
					<p style="font-size: 30px;">Привет, <%= user.name.givenName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } else if (user.provider == 'twitter') { %>
					<p style="font-size: 30px;">Привет, <%= user.displayName %></p>
					<div class="reg-wrapper">
						<a href="/logout" style = "color: #fff; text-decoration: none"><div class="signin">Выйти</div></a>
					</div>
				<% } %>
			<% } %>	
	</div>
	<div class='slider-all'>
			<% for (var i=0; i<newstop.length; i++) { %>
				<a href="/news/<%-newstop[i]._id%>">
					<div class="slider-element" style ="background-size:100%; background-image: url('<%-newstop[i].url_in_top%>')"><div class="wrap-p"> <p><%-newstop[i].text_in_top%></p></div>
					</div>
				</a>
			<% } %>
	</div>

	<!-- /// SLIDER MENU -->

	<!-- <div class="menu-starter"> <p>Список топиков</p>
	</div>
	<div class="sidebar-top">
		<ul>
			<% if (mark) { %>
			<li class="m"><a href="/news">ГЛАВНАЯ</a></li>
			<%} %>
			<li class="i"><a href="/made">СОЗДАВАЙ</a></li>
			<li class="r"><a href="/art-cinema">КИНО</a></li>
			<li class="t"><a href="/art-music">МУЗЫКА</a></li>
			<li class="zz"><a href="/art-art">АРТ</a></li>
			<li class="u"><a href="/fashion">МОДА</a></li>
			<li class="p"><a href="/craft">РЕМЕСЛО</a></li>
			<li class="o"><a href="/howto">ХАУ ТУ</a></li>
			<li class="a"><a href="/other">ИНОЕ</a></li>
		</ul>
	</div> -->

	<!-- /// SLIDER MENU ENDS -->

	<div class="all">
		<div class="content">
				<a href="">
					<div class="made-block" >
						<p class="made-block-header">Изделие с логотипом CASTMAG</p>
						<div class="container" style="background-image: url('http://cs409230.vk.me/v409230276/8890/6BTMzFDxn98.jpg');">
							<div class="level-1">
								<p class="a">Ты хорош в своем деле?</p> 
								<p class="ab">У тебя есть шанс продемонстрировать свое мастерство!</p>
								<p class="abc">Кастмаг устраивает конкурс на лучшую работу с символикой нашего журнала!</p>
							</div>
							<div class="half">
								<div class="level-2 appear-a">От Вас</div>
								<div class="level-3">
									<ul>
										<li class="appear-b">Информация о вас и о вашем продукте.</li>
										<li class="appear-c">До 1 марта прислать нам фотографии готового изделия и процесса.</li>
										<li class="appear-d">Ждать результата.</li>
									</ul>
								</div>
							</div>
							<div class="half">
								<div class="level-2 appear-a">От Нас</div>
								<div class="level-3">
									<ul>
										<li class="appear-b">Рекламный блок победителя на нашем сайте.</li>
										<li class="appear-c">Замечательные призы от Varvar.</li>
										<li class="appear-d">Вера в вас и ваши проекты.</li>
									</ul>
								</div>
							</div>
							<div class="level-1">
								<p class="abcd">Свои работы и вопросы присылайте на:</p> 
								<p class="abcde">castmag.ru@gmail.com</p>
							</div>
						</div>
					</div>
				</a>

				<!-- <div class="message" style="margin: 20px auto; width 100%; height:600px; text-align: center; background-image: url('');"><p style="font-family:'Open Sans Condensed'; font-size:60px; width: 100%; min-height:60px; font-weight:700; padding:20px; box-sizing: border-box"><%-message %></p></div> -->

		</div>	
		<div class="sidebar">
			<ul>
				<% if (mark) { %>
				<li class="m"><a href="/news?topic=all">ГЛАВНАЯ</a></li>
				<%} %>
				<li class="i" ><a href="/made">СОЗДАВАЙ</a></li>
				<li class="li-outer e" id="opener">АРТ
					<ul>
						<a href="/news?topic=art-cinema"><li class="li-inner r">35 ММ</li></a>
						<a href="/news?topic=art-music"><li class="li-inner t">ЗВУК</li></a>
						<a href="/news?topic=art-art"><li class="li-inner zz">ПОЛОТНО</li></a>
						<a href="/news?topic=fashion"><li class="li-inner u">ПОДИУМ</li></a>
					</ul>
				</li>
				<li class="p" ><a href="/news?topic=craft">РЕМЕСЛО</a></li>
				<li class="o" ><a href="/news?topic=howto">ХАУ ТУ</a></li>
				<li class="a" ><a href="/news?topic=other">ИНОЕ</a></li>
			</ul>
		</div>
		<!-- <div class="new-news-loader">НАШИ РОБОТЫ УСЕРДНО ТРУДЯТСЯ НАД НОВЫМ МАТЕРИАЛОМ</div> -->
	</div>
	
	<footer class="footer">
		<div class="third">
			<div class="text info">Контакты</div> <div class="paddinger"></div>
			<div class="text info">О проекте</div> <div class="paddinger"></div>
			<div class="text info" onclick="advertise()">Реклама</div>
		</div>
		<div class="third">
			<div class="text" onclick="fcbk()">facebook</div> <div class="paddinger"></div>
			<div class="text" onclick="twtr()">twitter</div> <div class="paddinger"></div>
			<div class="text" onclick="vk()">Вконтакте</div> <div class="paddinger"></div>
			<div class="text" onclick="nstgr()">instagram</div> <div class="paddinger"></div>
			<div class="text" onclick="youtb()">vimeo</div>
		</div>
		<div class="third">
			<div class="text long">CASTMAG.</div>
		</div>
	</footer>
	<% if (device!='PC') { %>
		<link rel="stylesheet" type="text/css" href="/stylesheets/devices-media.css">
	<%}%>
	<!-- // <script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js"></script> -->
	<script type="text/javascript" src='/javascripts/libs/jquery-1.10.2.min.js'></script>
	<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.touchswipe/1.6.4/jquery.touchSwipe.min.js"></script>
	<script src="/javascripts/made.js"></script>
	<script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-46010192-1', 'castmag.ru');
		ga('send', 'pageview');
	</script>
</body>
</html>